.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview{
    height: 180px;
    background-color: rgb(179, 186, 186);
}

.card-image{
    height: 300px;
}